.container {
    width: 300px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 2%;
    text-decoration: none;
}

.burger-details {
    padding: 10px;
}

.dark {
    background-color: rgb(21, 20, 20);
    color: white;
}

.light {
    background-color: rgb(243, 235, 235);
    color: black;
}