/* styles/ButtonLink.module.css */
.button-link {
    display: inline-block;
    padding: 10px 100px;
    margin-top: 15px;
    background-color: rgb(100, 72, 72);
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-link:hover {
    background-color: #2980b9;
  }
  