.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
}

.dark {
  background-color: black;
  color:white;
}

.light {
  background-color: white;
  color:black;
}


.home-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 128px;
  font-size: x-large;
  color: #f39c12;
}

